* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-background: black;
$color-letra-titulo: #ef75ba;
$color-letra-general: white;
$tipografia-letra-general: "sono", sans-serif;
$mobile-size: 600px;
$tablet-size:1200px;
$computer-size:1201px;


@mixin grids(){
    display: grid;
    justify-content: center;
}

body{
    background-color: $color-background;
}

@mixin h2 {
    font-size: 12px;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    color: $color-letra-titulo;
    text-align: center;
    text-decoration: underline;
    margin: 10px;

    @media(min-width:$mobile-size) and (max-width: $tablet-size){
        font-size: 20px;
        margin: 30px
    }

    @media(min-width: $computer-size){
        font-size: 30px;
        margin: 50px
    }
}