* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-background: black;
$color-letra-titulo: #ef75ba;
$color-letra-general: white;
$tipografia-letra-general: "sono", sans-serif;
$mobile-size: 600px;
$tablet-size: 1200px;
$computer-size: 1201px;


@mixin grids() {
    display: grid;
    justify-content: center;
}

body {
    background-color: $color-background;
}

/*H2 de las secciones*/
@mixin h2 {
    font-size: 12px;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    color: $color-letra-titulo;
    text-align: center;
    text-decoration: underline;
    margin: 10px;

    @media(min-width:$mobile-size) and (max-width: $tablet-size) {
        font-size: 20px;
        margin: 30px
    }

    @media(min-width: $computer-size) {
        font-size: 30px;
        margin: 50px
    }
}

/*descripciones de las secciones*/
@mixin h3 {
    font-family: $tipografia-letra-general;
    color: $color-letra-general;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 10px;

    @media(min-width:$mobile-size) and (max-width: $tablet-size) {
        font-size: 15px;
        margin: 10px;
    }

    @media(min-width: $computer-size) {
        font-size: 20px;
        margin: 20px;
    }
}

@mixin img-fondo {
    box-shadow: 0px 0px 0px 2px $color-letra-titulo;
}

@mixin iframe-fondo {
    box-shadow: 0px 0px 0px 2px $color-letra-titulo;
}