ol {
    font-family: $tipografia-letra-general;
    color: $color-letra-general;
    font-size: 10px;
    font-weight: 400;
    padding-left: 30px;

    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        font-size: 15px;
        padding-left: 40px;
    }
    @media(min-width: $computer-size) {
        font-size: 20px;
        padding: 50px;
    }
}

/* IMAGENES*/
.tamano-de-imagenes img {
    width: 150px;
    height: 150px;

    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        width: 225px;
        height: 225px;
    }

    @media(min-width: $computer-size) {
        width: 270px;
        height: 270px;
    }
}

/*posicion de las imagenes*/
.imagenes-curiosidades {
    @include grids;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 0.5rem;
    margin-bottom: 10px;

    & img{
        @include img-fondo;
    }
    

    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(4, 225px);
    }

    @media(min-width: $computer-size) {
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 1rem;
    }
}