ol {
    font-family: $tipografia-letra-general;
    color: $color-letra-general;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 10px;

    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        font-size: 3rem;
        padding-left: 40px;
    }

    @media(min-width: $computer-size) {
        font-size: 4rem;
        padding: 50px;
    }
}

/* IMAGENES*/
.tamano-de-imagenes img {
    @include medida-imagenes
}


.imagenes-curiosidades-posicion {
    /*posicion de las imagenes*/
    @include grids;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 1.5rem;
    margin-bottom: 10px;


    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(4, 225px);
    }

    @media(min-width: $computer-size) {
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 2rem;
    }
}