h2 {
    @include h2;
}

h3 {
    @include h3;
}


/* IMAGENES Y MAPAS*/
.tamano-de-imagenes img {
    @include medida-imagenes;
}

.tamano-mapa iframe {
    @include medida-mapas;
}


/*posiciones de las imagenes y mapas de las secciones*/
.posicion-rascacielos {
    @media(min-width: $tablet-size) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        h3,
        .secciones-imagenes-posicion {
            width: 50%;
        }

        margin-bottom: 1rem;
    }
}

.secciones-imagenes-posicion {
    @include grids;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    align-items: stretch;
    gap: 1.5rem;

    @media(min-width: $mobile-size) and (max-width: $tablet-size) {
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(2, 225px);
    }

    @media(min-width: $computer-size) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
    }
}